@font-face {
    font-family: calSans;
    src: url(./fonts/Cal_Sans/CalSans-Regular.ttf);
}

@font-face {
    font-family: cascadiaCode;
    src: url(./fonts/Cascadia_Code/CascadiaCode-VariableFont_wght.ttf);
}

body{
    background-color:black;
    margin:0;
    font-family: cascadiaCode;
    font-size: 20px;
}

h3{
    color:#bc0000;
}

header{
    position:sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    font-family: calSans;
    color:white;
    z-index: 20;
    height:60px;
    opacity: 0;
    transition: 0.2s;
    background-color: black;
}

a{
    color:#bc0000;
    padding: 0px 20px;
    transition: 0.2s ease;
    font-family: cascadiaCode;
}

a:hover{
    letter-spacing: 5px;
    color:white;
    text-shadow: 2px 2px #bc0000;
}

#hero{
    height: 39vh;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(placeholder.png);
    background-position: center;
    background-size: cover;
    filter: brightness(50%);
    height:95vh;
    z-index: -1;
}

#hero h2, p{
    color:white;
    text-align: center;
    margin: 0;
    position:relative;
    z-index: 1;
}

#hero h2{
    font-family: calSans;
    font-size: 150px;
    margin-top:25vh;
}

#hero p{
    font-family: cascadiaCode;
    font-size: 30px;
}

#underHero {
    position: relative;
    z-index: 0;
    margin-top:23vh;
}

div {
    padding: 50px 10vw;
    background-color:black;
    display:flex;
    flex-flow:row;
    justify-content: space-between;
    align-items: center;
}

.infoImage{
    height:100%;
}

.infoText{
    transition:0.1s;
    color:white;
    display: flex;
    flex-flow: column;
    text-align: center;
    width:max(700px);
    padding-left: 10vw;
}

.infoText:nth-child(1){
    padding-left: 0;
    padding-right:10vw;
}

.infoText h3, .showcase h3{
    font-size: 70px;
    line-height: 0;
    font-family: calSans;
}

button{
    background-color: white;
    border: 2px solid white;
    color:#bc0000;
    border-radius: 5px;
    margin-top:20px;
    align-self: center;
    padding:20px;
    font-family: cascadiaCode;
    transition:0.2s ease;
    width:max(20vw);
    font-size: 15px;
    box-shadow: 5px 5px;
}

button:hover{
    width:max(23vw);
    word-spacing: 5px;
    background-color: #bc0000;
    border: 2px solid #bc0000;
    color:white;
}

.showcase{
    display: flex;
    flex-flow: column;
    background-color:#bc0000;
    padding:20px 60px;
    justify-content: center;
    text-align: center;
}

.showcase p{
    max-width: 1200px;
}

.showcase h3{
    color:white;
    text-shadow:5px 5px black;
}

.gridCase{
    padding-top:30px;
    display: grid;
    grid-auto-flow: column;
    gap:10px;
}

.gridCase img{
    border-radius: 5px;
    width:20vw;
    height:15vw;
    object-fit: cover;
    transition: 0.2s ease;
}

.gridCase img:hover{
    width:25vw;
}

.showcase button{
    color:black;
}

.showcase button:hover{
    color:white;
    border-color: black;
    background-color: black;
}