@font-face {
    font-family: calSans;
    src: url(./fonts/Cal_Sans/CalSans-Regular.ttf);
}

@font-face {
    font-family: cascadiaCode;
    src: url(./fonts/Cascadia_Code/CascadiaCode-VariableFont_wght.ttf);
}

body{
    background-color:blue;
    margin:0;
    font-family: cascadiaCode;
    font-size: 20px;
}

header{
    position:sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding: 5px 20px;
    font-family: calSans;
    z-index: 20;
    height:60px;
    opacity: 0;
    transition: 0.2s;
    background-color: black;
}

a{
    padding: 0px 20px;
    transition: 0.2s ease;
    font-family: cascadiaCode;
}

a:hover{
    font-size: 24px;
}

#hero{
    height: 39vh;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(placeholder.png);
    background-position: center;
    background-size: cover;
    filter: brightness(50%);
    height:95vh;
    z-index: -1;
}

#hero h2, p{
    color:white;
    text-align: center;
    margin: 0;
    position:relative;
    z-index: 1;
}

#hero h2{
    font-family: calSans;
    font-size: 150px;
    margin-top:25vh;
}

#hero p{
    font-family: cascadiaCode;
    font-size: 30px;
}

#underHero {
    background-color: black;
    position: relative;
    z-index: 0;
    margin-top:23vh;
}

div {
    padding: 50px 10vw;
    background-color: aqua;
    display:flex;
    flex-flow:row;
    justify-content: space-between;
    align-items: center;
}

.infoImage{
    height:100%;
}

.infoText{
    transition:0.1s;
    color:white;
    display: flex;
    flex-flow: column;
    text-align: center;
    width:max(700px);
    padding-left: 10vw;
}

.infoText h3{
    font-size: 70px;
    line-height: 0;
    font-family: calSans;
}

.infoText button{
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-top:20px;
    align-self: center;
    padding:20px;
    font-family: cascadiaCode;
    transition:0.2s ease;
    width:max(20vw);
}

.infoText button:hover{
    width:max(23vw);
}